.nav-bar{
    background: #181818;
    height: 60px;
    width: 100%;
    z-index: 3;
    min-width: 500px;
}

.logo{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    min-width: fit-content;
    justify-content: center;

    img{
      width: 24px; 
      padding: 0px 8px;
      
    }
   
   

}